Yine aynı örnek olacak ama bu sefer yaptıklarımızın ML tarafında kullanılan kütüphaneler ile yapılmasını ve farklı metodlarından bazılarını göreceğiz.

In [18]:
import pandas as pd 
from sklearn.impute import SimpleImputer
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn.metrics as mt

In [4]:
data = pd.read_excel(r"C:\Users\Kemalettin\Desktop\anlasekon\Python ile Makine Öğrenmesi\Advertising.xlsx",index_col=0)
data2 = data.copy()

In [5]:
print(data2.isnull().sum())

TV           3
Radio        1
Newspaper    2
Sales        3
dtype: int64

gördüğümüz gibi her sürunda bazı verilerimiz eksik bunları doldurmamız gerekiyor bunun için sklearn kütüphanesini kullanarak daha sofistike bir yol kullanacağız SimpleImputer'ı kullanacağız. o yüzden from sklearn.impute import SimpleImputer diyerek onu import ettik

Burada SimpleImputer fonksiyonunu çağırdık missing_values = np.nan diyerek eksik değerlerin türünü ve strategy diyerek onları nasıl doldurmak istediğimizi mean ortalama ile doldurmak istediğimizi belirttik en çok kullanılan yöntem denebiliri. Sonrasında imputer'i data2 veri kümemize fit ettik yani uyguladık. Sonrasında data2.iloc[:,:] diyerek integer-based location ile verilerimizi imputerde uygulanmış verilere eşitleyerek eksik verilerimizin de yerine yenilerini yerleştirmiş olduk. Tekrar eksik veri kontrolü yaptık ve doldurmuş olduk

In [13]:
imputer = SimpleImputer(missing_values=np.nan,strategy="mean")
imputer = imputer.fit(data2)
print(data2.isnull().sum())
data2.iloc[:,:] = imputer.transform(data2)
data2.iloc[:,:]

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

             TV  Radio  Newspaper     Sales
0    230.100000   37.8  69.200000  22.10000
1     44.500000   39.3  45.100000  10.40000
2     17.200000   45.9  69.300000   9.30000
3    151.500000   41.3  58.500000  13.97868
4    147.825381   10.8  30.445455  12.90000
..          ...    ...        ...       ...
195   38.200000    3.7  13.800000   7.60000
196   94.200000    4.9   8.100000   9.70000
197  177.000000    9.3   6.400000  12.80000
198  283.600000   42.0  66.200000  25.50000
199  232.100000    8.6   8.700000  13.40000

[200 rows x 4 columns]

In [22]:
# Doğrusal regresyon modelimizi uyguladık ve test veri seti için tahmin setimizi oluşturduk
y = data2["Sales"]
X = data2[["TV","Radio"]]

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

lr = LinearRegression().fit(X_train,y_train)
tahmin = lr.predict(X_test)

In [23]:
# bu kısım bu çalışmanın amaçlarından biri burada da metrikleri kullanalım
# metrikleri import sklearn.metrics as mt şeklinde aldık 
r2 = mt.r2_score(y_test,tahmin)
mse = mt.mean_squared_error(y_test,tahmin)
rmse = mt.mean_squared_error(y_test,tahmin)
mae = mt.mean_absolute_error(y_test,tahmin)

print(r2,mse,rmse,mae,sep="\n")
# çıkan uyarı fonksiyon olarak gelecekmiş rmse o yüzden gelecek için uyarıyor.

0.901554910161333
3.1072808223499355
3.1072808223499355
1.4516902672365462